
-- REPAIR MISSING COLUMN (stats)
-- The table 'client_automations' is missing the 'stats' column, causing the dashboard to show 0.
-- This script adds the column and populates it immediately.

DO \$\$
BEGIN
    -- 1. ADD COLUMN
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='client_automations' AND column_name='stats') THEN
        ALTER TABLE public.client_automations ADD COLUMN stats JSONB DEFAULT '{\
total_runs\: 0, \hours_saved\: 0}';
    END IF;

    -- 2. POPULATE DATA
    -- We can now safe run the update
    UPDATE public.client_automations a
    SET stats = jsonb_build_object(
        'total_runs', (SELECT COUNT(*) FROM public.automation_logs WHERE automation_id = a.id),
        'hours_saved', ROUND(((SELECT COUNT(*) FROM public.automation_logs WHERE automation_id = a.id) * 5.0) / 60.0, 1),
        'status', 'active'
    );
    
    RAISE NOTICE 'SUCCESS: Column Added and Metrics Updated.';
END \$\$;

