
-- GLOBAL ID MAPPING SCRIPT (Split-Brain Fix)
-- This script will list ALL automations and ALL logs grouped by automation_id.
-- This is how we map exactly which logs belong to 'Loon' vs 'Grapevine'.

SELECT 
    a.id as automation_id,
    a.display_name,
    a.user_id as owner_id,
    p.email as owner_email,
    COUNT(l.id) as log_count
FROM public.client_automations a
LEFT JOIN public.profiles p ON a.user_id = p.id
LEFT JOIN public.automation_logs l ON a.id = l.automation_id
GROUP BY a.id, a.display_name, a.user_id, p.email;

-- ALSO FIND ORPHANED LOG GROUPS (Logs attached to IDs that don't exist in automations table)
SELECT 
    automation_id, 
    COUNT(*) as orphaned_log_count,
    MAX(created_at) as last_activity
FROM public.automation_logs
WHERE automation_id NOT IN (SELECT id FROM public.client_automations)
GROUP BY automation_id;

