
-- FINAL LAST RESORT RECOVERY
-- If 'auth.users' search fails, it means specific permissions or schemas are hiding the user row.
-- We will bypass the variable check and insert directly using the auth.uid() context if running in RLS,
-- OR we ask you to input your UUID directly.

-- OPTION 1: Get ALL users to debug (limit 5)
SELECT id, email, created_at FROM auth.users ORDER BY created_at DESC LIMIT 5;

-- OPTION 2: If you see your email in the list above, copy the UUID.
-- Then replacing 'YOUR_UUID_HERE' below:

/*
DO \$\$
DECLARE
    -- PASTE YOUR UUID HERE FROM THE SELECT QUERY ABOVE
    target_user_id UUID := 'YOUR_UUID_HERE'; 
    target_automation_id UUID;
BEGIN
    -- 1. FORCE PROFILE CREATION
    INSERT INTO public.profiles (id, email, role, is_admin, is_owner, full_name)
    VALUES (target_user_id, 'keitemplaysgames@gmail.com', 'super_admin', true, true, 'Kdawg')
    ON CONFLICT (id) DO UPDATE 
    SET role = 'super_admin', is_admin = true, is_owner = true;

    -- 2. RECOVER LOGS (Same as before)
    SELECT id INTO target_automation_id FROM public.client_automations 
    WHERE display_name ILIKE '%Customer Support%' LIMIT 1;

    IF target_automation_id IS NOT NULL THEN
        UPDATE public.client_automations SET user_id = target_user_id WHERE id = target_automation_id;
        
        UPDATE public.automation_logs
        SET user_id = target_user_id, automation_id = target_automation_id
        WHERE automation_id NOT IN (SELECT id FROM public.client_automations)
        OR automation_id = target_automation_id;
    END IF;
END \$\$;
*/

