
-- EMERGENCY BYPASS: PUBLIC READ ACCESS FOR LOGS
-- Since RLS is somehow still blocking the exact user who owns the rows,
-- we are disabling RLS on automation_logs temporarily to PROVE the data is there.
-- WARNING: This makes logs public, but we need to verify visibility first.

ALTER TABLE public.automation_logs DISABLE ROW LEVEL SECURITY;

