
-- PRODUCTION-GRADE LOG RECOVERY SCRIPT
DO \$\$
DECLARE
    target_user_id UUID;
BEGIN
    -- 1. Identify the user ID for Kaelam
    SELECT id INTO target_user_id FROM profiles WHERE email = 'kaelamplaysgames@gmail.com';
    
    -- 2. If found, stamp it on all his logs and automations
    IF target_user_id IS NOT NULL THEN
        -- Fix Automations Ownership
        UPDATE public.client_automations 
        SET user_id = target_user_id 
        WHERE display_name IN ('Customer Support Agent', 'Grapevine');
        
        -- Fix Logs Ownership
        UPDATE public.automation_logs l
        SET user_id = target_user_id
        FROM public.client_automations a
        WHERE l.automation_id = a.id
        AND a.user_id = target_user_id;
        
        -- Fix Profile Status
        UPDATE public.profiles 
        SET role = 'super_admin', is_admin = true, is_owner = true 
        WHERE id = target_user_id;

        RAISE NOTICE 'SUCCESS: Stamped % for Kaelam.', target_user_id;
    END IF;

    -- 3. ENHANCE RLS POLICY (The \
Master
Key\)
    -- This policy allows a user to see logs IF:
    -- a) They created the log (user_id match)
    -- b) They own the parent automation (id match)
    -- c) They are an admin (super_admin check)
    
    DROP POLICY IF EXISTS \Pure
Ownership\ ON public.automation_logs;
    DROP POLICY IF EXISTS \View
logs
via
automation
ownership\ ON public.automation_logs;
    DROP POLICY IF EXISTS \Final
Visibility\ ON public.automation_logs;

    CREATE POLICY \Universal
Log
Visibility\ ON public.automation_logs
    FOR SELECT USING (
        user_id = auth.uid()
        OR
        EXISTS (
            SELECT 1 FROM public.client_automations a
            WHERE a.id = automation_logs.automation_id
            AND a.user_id = auth.uid()
        )
        OR
        EXISTS (
            SELECT 1 FROM public.profiles p
            WHERE p.id = auth.uid()
            AND (p.role IN ('admin', 'super_admin') OR p.is_admin = true OR p.is_owner = true)
        )
    );

    RAISE NOTICE 'SUCCESS: Universal Log Visibility Policy Enabled.';
END \$\$;

