
-- FINAL PRODUCTION REPAIR & VERIFICATION
-- 1. Explain the '18 Profiles' confusion (It was counting Columns, NOT Users).
-- 2. Verify actual Data Counts (Rows).
-- 3. Force-Sync ownership one last time.
-- 4. Simplify RLS to be bulletproof.

DO \$\$
DECLARE
    user_count INTEGER;
    log_count INTEGER;
BEGIN
    -- A. COUNT ACTUAL ROWS (Data)
    SELECT COUNT(*) INTO user_count FROM public.profiles;
    SELECT COUNT(*) INTO log_count FROM public.automation_logs;
    
    RAISE NOTICE '------------------------------------------------';
    RAISE NOTICE 'REAL DATA COUNTS (Not Columns):';
    RAISE NOTICE 'Total Users/Profiles: %', user_count;
    RAISE NOTICE 'Total Automation Logs: %', log_count;
    RAISE NOTICE '------------------------------------------------';

    -- B. FORCE SYNC OWNERSHIP (Ensure Logs match their Automation Owner)
    UPDATE public.automation_logs l
    SET user_id = a.user_id
    FROM public.client_automations a
    WHERE l.automation_id = a.id
    AND l.user_id IS DISTINCT FROM a.user_id;

    -- C. RESET RLS TO SIMPLEST MODE (Trust the user_id, since we sync it)
    -- This avoids complex joins that might fail or slow down.
    
    -- Drop complex policies
    DROP POLICY IF EXISTS \
View
logs
via
automation
ownership\ ON public.automation_logs;
    DROP POLICY IF EXISTS \Owner
view\ ON public.automation_logs;
    
    -- Create Simple Policy: You see what is tagged with your ID.
    CREATE POLICY \Simple
owner
view\
    ON public.automation_logs
    FOR SELECT
    USING (
        user_id = auth.uid()
        OR
        EXISTS (
            SELECT 1 FROM profiles 
            WHERE id = auth.uid() 
            AND (role IN ('admin', 'super_admin') OR is_owner = true)
        )
    );

    RAISE NOTICE 'SUCCESS: RLS simplified and Data synced.';
END \$\$;

