
-- RECOVERY SCRIPT: AGGRESSIVE REPAIR
-- This script will find your 'Customer Support Agent' automation (or the most recent one)
-- and FORCE it and all orphaned logs to belong to your account.

DO \$\$
DECLARE
    target_user_id UUID;
    target_automation_id UUID;
BEGIN
    -- 1. Get User ID
    SELECT id INTO target_user_id FROM auth.users WHERE email = 'keitemplaysgames@gmail.com';
    
    IF target_user_id IS NULL THEN
        RAISE EXCEPTION 'User keitemplaysgames@gmail.com not found. Please sign up or check email.';
    END IF;

    -- 2. Find the Automation (Search by Name first)
    SELECT id INTO target_automation_id FROM public.client_automations 
    WHERE display_name ILIKE '%Customer Support Agent%' 
    ORDER BY created_at DESC LIMIT 1;

    -- If not found by name, grab the MOST RECENT globally
    IF target_automation_id IS NULL THEN
        SELECT id INTO target_automation_id FROM public.client_automations 
        ORDER BY created_at DESC LIMIT 1;
    END IF;

    IF target_automation_id IS NULL THEN
        RAISE EXCEPTION 'CRITICAL: No automations found in database. Create one in dashboard first.';
    END IF;

    -- 3. CLAIM AUTOMATION (Security Fix)
    -- Assign this automation to you immediately
    UPDATE public.client_automations 
    SET user_id = target_user_id 
    WHERE id = target_automation_id;

    -- 4. CLAIM LOGS (Data Import)
    -- Import all 1,927 orphaned logs
    UPDATE public.automation_logs
    SET 
        user_id = target_user_id,
        automation_id = target_automation_id
    WHERE 
        automation_id NOT IN (SELECT id FROM public.client_automations)
        OR user_id IS NULL
        OR automation_id = target_automation_id; 

    -- 5. GRANT SUPER ADMIN (Just in case)
    UPDATE public.profiles 
    SET role = 'super_admin', is_admin = true, is_owner = true 
    WHERE id = target_user_id;

    RAISE NOTICE 'SUCCESS: Automation % and all logs have been imported to your profile.', target_automation_id;
END \$\$;

