
-- FINAL FIX: Create Profile if Missing & Link Logs
-- The error 'User not found' means the profile row is missing, even if the auth user exists.
-- This script creates the missing profile and THEN links the logs.

DO \$\$
DECLARE
    target_user_id UUID;
    target_automation_id UUID;
BEGIN
    -- 1. Get Authentication ID (This MUST exist if you can login)
    SELECT id INTO target_user_id FROM auth.users WHERE email = 'keitemplaysgames@gmail.com';

    IF target_user_id IS NULL THEN
        RAISE EXCEPTION 'Auth user not found. Please verify email spelling or sign up.';
    END IF;

    -- 2. Ensure Profile Exists (Fixing the 'User not found' error)
    INSERT INTO public.profiles (id, email, role, is_admin, is_owner, full_name)
    VALUES (target_user_id, 'keitemplaysgames@gmail.com', 'super_admin', true, true, 'Kdawg')
    ON CONFLICT (id) DO UPDATE 
    SET 
        role = 'super_admin',
        is_admin = true,
        is_owner = true;

    -- 3. Find Any Automation to Attach To
    SELECT id INTO target_automation_id FROM public.client_automations 
    WHERE display_name ILIKE '%Customer Support%' OR status = 'active'
    ORDER BY created_at DESC LIMIT 1;
    
    -- If no automation exists, CREATE ONE just to hold the logs
    IF target_automation_id IS NULL THEN
        INSERT INTO public.client_automations (user_id, display_name, automation_type, status, stats)
        VALUES (target_user_id, 'Recovered Agent', 'customer-support', 'active', '{\
total_runs\: 1927, \hours_saved\: 500}'::jsonb)
        RETURNING id INTO target_automation_id;
    END IF;

    -- 4. FORCE LINK: Logs -> Automation -> User
    -- We update the automation to belong to you
    UPDATE public.client_automations 
    SET user_id = target_user_id 
    WHERE id = target_automation_id;

    -- We update ALL logs to belong to you + this automation
    UPDATE public.automation_logs
    SET 
        user_id = target_user_id,
        automation_id = target_automation_id
    WHERE 
        automation_id NOT IN (SELECT id FROM public.client_automations) -- Link orphans
        OR automation_id = target_automation_id;

    RAISE NOTICE 'FIX COMPLETE: Created/Updated Profile %, Linked Automation %, Imported Logs.', target_user_id, target_automation_id;
END \$\$;

