
DO \$\$
DECLARE
    -- IDs from your n8n Screenshot
    n8n_automation_id UUID := '950a2bd8-489a-4a8f-9b87-4f13b32b4be9';
    n8n_user_id UUID := '7cfe109c-8e79-42a7-95ce-101a582fc30b';
    real_user_id UUID;
BEGIN
    SELECT id INTO real_user_id FROM auth.users WHERE email = 'keitemplaysgames@gmail.com';
    IF real_user_id IS NULL THEN real_user_id := n8n_user_id; END IF;

    -- Ensure Profile
    INSERT INTO public.profiles (id, email, full_name, role, is_admin, is_owner)
    VALUES (real_user_id, 'keitemplaysgames@gmail.com', 'Kdawg', 'super_admin', true, true)
    ON CONFLICT (id) DO UPDATE SET role = 'super_admin', is_admin = true, is_owner = true;

    -- CREATE AUTOMATION (Trying 'custom' tier)
    INSERT INTO public.client_automations (
        id, user_id, display_name, automation_type, status, tier
    )
    VALUES (
        n8n_automation_id, real_user_id, 'Customer Support Agent (n8n Linked)', 'customer-support', 'active', 'custom'
    )
    ON CONFLICT (id) DO UPDATE SET user_id = real_user_id, status = 'active';

    -- LINK LOGS
    UPDATE public.automation_logs
    SET automation_id = n8n_automation_id, user_id = real_user_id
    WHERE automation_id = n8n_automation_id OR automation_id NOT IN (SELECT id FROM public.client_automations);

    RAISE NOTICE 'SUCCESS: Tier set to custom.';
END \$\$;

