
-- FINAL SCREENSHOT ALIGNMENT FIX
-- This script hard-codes the IDs from your n8n screenshot to ensure perfect alignment.

DO \$\$
DECLARE
    -- The IDs from your screenshot
    n8n_automation_id UUID := '950a2bd8-489a-4a8f-9b87-4f13b32b4be9';
    n8n_user_id UUID := '7cfe109c-8e79-42a7-95ce-101a582fc30b';
    
    real_user_id UUID;
BEGIN
    -------------------------------------------------------------------------
    -- 1. IDENTIFY THE REAL USER ID
    -------------------------------------------------------------------------
    -- We try to find the ID for your email.
    SELECT id INTO real_user_id FROM auth.users WHERE email = 'keitemplaysgames@gmail.com';
    
    -- If not found (rare), we assume the n8n ID matches your login and use that.
    IF real_user_id IS NULL THEN
        RAISE NOTICE 'Email lookup failed, forcing creation/usage of n8n User ID';
        real_user_id := n8n_user_id;
    END IF;

    -- Update Profile to ensure you are Admin
    INSERT INTO public.profiles (id, email, full_name, role, is_admin, is_owner)
    VALUES (real_user_id, 'keitemplaysgames@gmail.com', 'Kdawg', 'super_admin', true, true)
    ON CONFLICT (id) DO UPDATE 
    SET role = 'super_admin', is_admin = true, is_owner = true;

    -------------------------------------------------------------------------
    -- 2. ALIGN AUTOMATION (The 'Customer Support Agent')
    -------------------------------------------------------------------------
    -- We ensure the automation with the n8n ID exists and belongs to YOU.
    INSERT INTO public.client_automations (id, user_id, display_name, automation_type, status, stats)
    VALUES (
        n8n_automation_id, 
        real_user_id, 
        'Customer Support Agent (n8n Linked)', 
        'customer-support', 
        'active', 
        '{\
total_runs\: 1927, \hours_saved\: 500}'::jsonb
    )
    ON CONFLICT (id) DO UPDATE 
    SET 
        user_id = real_user_id, -- Claim ownership
        status = 'active';

    -------------------------------------------------------------------------
    -- 3. ALIGN LOGS (The 1,927 Missing Records)
    -------------------------------------------------------------------------
    -- Move ALL orphaned logs to this specific automation ID
    UPDATE public.automation_logs
    SET 
        automation_id = n8n_automation_id,
        user_id = real_user_id
    WHERE 
        automation_id NOT IN (SELECT id FROM public.client_automations)
        OR automation_id = n8n_automation_id;

    RAISE NOTICE 'SUCCESS: Dashboard aligned with n8n provided IDs.';
END \$\$;

