
-- FINAL RLS REPAIR: PARENT-BASED VISIBILITY
-- Instead of relying on the log's user_id (which can desync),
-- we grant access if you own the PARENT AUTOMATION.
-- This guarantees that if you see the card, you see the logs.

DO \$\$
BEGIN
    -- 1. DROP old restrictive policies
    DROP POLICY IF EXISTS \
Owner
view\ ON public.automation_logs;
    DROP POLICY IF EXISTS \View
logs
via
automation
ownership\ ON public.automation_logs;

    -- 2. CREATE NEW ROBUST POLICY (Parent-Based)
    CREATE POLICY \View
logs
via
automation
ownership\
    ON public.automation_logs
    FOR SELECT
    USING (
        -- Option A: You own the Parent Automation
        EXISTS (
            SELECT 1 FROM public.client_automations a
            WHERE a.id = automation_logs.automation_id
            AND a.user_id = auth.uid()
        )
        OR
        -- Option B: You are an Admin/Owner
        EXISTS (
            SELECT 1 FROM profiles 
            WHERE id = auth.uid() 
            AND (role IN ('admin', 'super_admin') OR is_owner = true)
        )
        OR
        -- Option C: Fallback to log ownership (redundant but safe)
        user_id = auth.uid()
    );

    RAISE NOTICE 'SUCCESS: RLS Policy updated to Parent-Based Ownership.';
    
    -- 3. ONE MORE ALIGNMENT SWEEP (Just for data hygiene)
    UPDATE public.automation_logs l
    SET user_id = a.user_id
    FROM public.client_automations a
    WHERE l.automation_id = a.id
    AND l.user_id IS DISTINCT FROM a.user_id;
    
    RAISE NOTICE 'SUCCESS: Data re-aligned.';
END \$\$;

