
-- FINAL AUTOPILOT SAFETY MECHANISM
-- This trigger AUTOMATICALLY fixes any incoming log from n8n.
-- Even if n8n sends the wrong User ID (or no User ID), this trigger
-- forces the log to match the Automation matches the correct Owner.

CREATE OR REPLACE FUNCTION public.auto_align_log_ownership()
RETURNS TRIGGER AS \$\$
BEGIN
    -- If an automation_id is present, look up the Real Owner
    IF NEW.automation_id IS NOT NULL THEN
        SELECT user_id INTO NEW.user_id
        FROM public.client_automations
        WHERE id = NEW.automation_id;
    END IF;
    RETURN NEW;
END;
\$\$ LANGUAGE plpgsql;

-- DROP TRIGGER IF EXISTS ensure_log_owner ON public.automation_logs;

CREATE TRIGGER ensure_log_owner
BEFORE INSERT ON public.automation_logs
FOR EACH ROW
EXECUTE FUNCTION public.auto_align_log_ownership();

RAISE NOTICE 'SUCCESS: Self-Healing Trigger Installed. Future logs are guaranteed to route correctly.';

