
-- EMERGENCY REVERT: RESTORE PARENT-BASED VISIBILITY
-- The 'Simplified' policy failed because it relied on perfect data syncing.
-- We are reverting to the ROBUST Parent-Based Policy that worked 5 minutes ago.
-- This guarantees logs are visible if you own the Automation Card.

DO \$\$
BEGIN
    -- 1. DROP THE FAILED 'SIMPLE' POLICY
    DROP POLICY IF EXISTS \
Simple
owner
view\ ON public.automation_logs;
    DROP POLICY IF EXISTS \View
logs
via
automation
ownership\ ON public.automation_logs; 
    -- (Drop others to be clean)
    DROP POLICY IF EXISTS \Owner
view\ ON public.automation_logs;
    DROP POLICY IF EXISTS \Users
can
view
own
logs\ ON public.automation_logs;

    -- 2. RE-CREATE THE ROBUST PARENT-BASED POLICY
    -- This works even if the log's user_id is slightly out of sync.
    CREATE POLICY \View
logs
via
automation
ownership\
    ON public.automation_logs
    FOR SELECT
    USING (
        -- A. You own the Parent Automation (The Card)
        EXISTS (
            SELECT 1 FROM public.client_automations a
            WHERE a.id = automation_logs.automation_id
            AND a.user_id = auth.uid()
        )
        OR
        -- B. You are a Super Admin
        EXISTS (
            SELECT 1 FROM profiles 
            WHERE id = auth.uid() 
            AND (role IN ('admin', 'super_admin') OR is_owner = true)
        )
        OR
        -- C. Direct Ownership Fallback
        user_id = auth.uid()
    );

    RAISE NOTICE 'SUCCESS: Reverted to Robust RLS Policy.';
END \$\$;

