
-- SECURE DATABASE (Enable RLS)
-- This script removes the 'UNRESTRICTED' warning by Enabling Row Level Security.
-- It applies policies so Users see THEIR data, and Admins see ALL data.

-- 1. Automation Logs
ALTER TABLE public.automation_logs ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS \
Owner
view\ ON public.automation_logs;
CREATE POLICY \Owner
view\ ON public.automation_logs FOR SELECT USING (
    auth.uid() = user_id 
    OR 
    EXISTS (SELECT 1 FROM profiles WHERE id = auth.uid() AND (role IN ('admin', 'super_admin') OR is_owner = true))
);
DROP POLICY IF EXISTS \Service
insert\ ON public.automation_logs;
CREATE POLICY \Service
insert\ ON public.automation_logs FOR INSERT WITH CHECK (true);

-- 2. Client Automations
ALTER TABLE public.client_automations ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS \Automation
access
policy\ ON public.client_automations;
CREATE POLICY \Automation
access
policy\ ON public.client_automations FOR ALL USING (
    auth.uid() = user_id 
    OR 
    EXISTS (SELECT 1 FROM profiles WHERE id = auth.uid() AND (role IN ('admin', 'super_admin') OR is_owner = true))
);

-- 3. Invoices (If user_id exists)
DO \$\$
BEGIN
    ALTER TABLE public.invoices ENABLE ROW LEVEL SECURITY;
    DROP POLICY IF EXISTS \Users
view
own
invoices\ ON public.invoices;
    IF EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='invoices' AND column_name='user_id') THEN
        CREATE POLICY \Users
view
own
invoices\ ON public.invoices FOR ALL USING (auth.uid() = user_id);
    ELSE
        -- Fallback: If no user_id, generic admin access or deny all default
        CREATE POLICY \Admins
view
invoices\ ON public.invoices FOR ALL USING (
            EXISTS (SELECT 1 FROM profiles WHERE id = auth.uid() AND (role IN ('admin', 'super_admin') OR is_owner = true))
        );
    END IF;
END \$\$;

-- 4. Promo Code Usage
DO \$\$
BEGIN
    ALTER TABLE public.promo_code_usage ENABLE ROW LEVEL SECURITY;
    DROP POLICY IF EXISTS \Users
view
own
usage\ ON public.promo_code_usage;
     IF EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='promo_code_usage' AND column_name='user_id') THEN
        CREATE POLICY \Users
view
own
usage\ ON public.promo_code_usage FOR ALL USING (auth.uid() = user_id);
    END IF;
END \$\$;

RAISE NOTICE 'SUCCESS: RLS Enabled on critical tables.';

