
-- TURNKEY COMPLETION SCRIPT
-- 1. Correct any Email Typos in Roles
-- 2. Force-Sync 'stats' column for Dashboard Metrics
-- 3. Ensure RLS is active but correct

DO \$\$
BEGIN
    -- 1. ROLES REPAIR
    UPDATE public.profiles SET role = 'super_admin', is_admin = true, is_owner = true 
    WHERE email IN ('konamak@icloud.com', 'kaelamplaysgames@gmail.com');

    -- 2. STATS COLUMN REPAIR
    -- Ensure column exists
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='client_automations' AND column_name='stats') THEN
        ALTER TABLE public.client_automations ADD COLUMN stats JSONB DEFAULT '{\
total_runs\: 0, \hours_saved\: 0}';
    END IF;

    -- Update stats from REAL log counts
    UPDATE public.client_automations a
    SET stats = jsonb_build_object(
        'total_runs', (SELECT COUNT(*) FROM public.automation_logs WHERE automation_id = a.id),
        'hours_saved', ROUND(((SELECT COUNT(*) FROM public.automation_logs WHERE automation_id = a.id) * 15.0) / 60.0, 1)
    );

    -- 3. LOG OWNERSHIP REPAIR
    UPDATE public.automation_logs l
    SET user_id = a.user_id
    FROM public.client_automations a
    WHERE l.automation_id = a.id;

    -- 4. RLS REFRESH (Clean Slate)
    ALTER TABLE public.automation_logs ENABLE ROW LEVEL SECURITY;
    DROP POLICY IF EXISTS \Pure
Ownership\ ON public.automation_logs;
    DROP POLICY IF EXISTS \Simple
owner
view\ ON public.automation_logs;
    DROP POLICY IF EXISTS \Admin
God
Mode\ ON public.automation_logs;
    DROP POLICY IF EXISTS \Universal
Access\ ON public.automation_logs;
    DROP POLICY IF EXISTS \Final
Visibility\ ON public.automation_logs;

    CREATE POLICY \Final
Visibility\ ON public.automation_logs
    FOR SELECT USING (
        user_id = auth.uid() 
        OR 
        EXISTS (SELECT 1 FROM profiles WHERE id = auth.uid() AND (role = 'super_admin' OR is_owner = true))
    );

END \$\$;

