
-- DETECT DUPLICATE AUTOMATIONS
-- This script checks if 'Customer Support Agent' or 'Grapevine' appears twice.
-- If so, the dashboard might be looking at the 'New Empty' one while logs are on the 'Old' one.

SELECT 
    a.display_name, 
    a.id as \
Automation
ID\, 
    a.user_id, 
    a.status,
    a.created_at,
    (SELECT COUNT(*) FROM public.automation_logs l WHERE l.automation_id = a.id) as \Log
Count\
FROM public.client_automations a
WHERE a.user_id IN (
    '7cfe109c-8e79-42a7-95ce-101a582fc30b', -- Kdawg
    '6f23f504-9bf6-4da6-ac0e-46c65bb41203'  -- Grapevine
)
ORDER BY a.user_id, a.display_name;

