
-- FINAL TRUTH DIAGNOSIS
SELECT 
    l.id as log_id,
    l.user_id as log_user_id,
    l.automation_id as log_auto_id,
    a.user_id as auto_user_id,
    a.display_name as auto_name
FROM public.automation_logs l
JOIN public.client_automations a ON l.automation_id = a.id
LIMIT 5;

-- COUNT MISMATCHES
SELECT COUNT(*) as mismatch_count
FROM public.automation_logs l
JOIN public.client_automations a ON l.automation_id = a.id
WHERE l.user_id != a.user_id;

