
-- FINAL FORCE SYNC: UNLOCK ADMIN ACCESS
-- The data exists (1934 logs), but the Admin Policy is blocked.
-- We will GRANT ALL to Admins to force the view open.

DO \$\$
BEGIN
    -- 1. DROP RESTRICTIVE POLICIES
    DROP POLICY IF EXISTS \
Universal
Access\ ON public.automation_logs;
    DROP POLICY IF EXISTS \View
logs
via
automation
ownership\ ON public.automation_logs;
    
    -- 2. CREATE 'GOD MODE' POLICY FOR ADMINS
    -- This says: \If
I
am
an
Admin
I
see
EVERYTHING.
Period.\
    CREATE POLICY \Admin
God
Mode\
    ON public.automation_logs
    FOR SELECT
    USING (
        -- Standard User Check
        user_id = auth.uid()
        OR
        -- Admin Super Check (Bypasses everything)
        EXISTS (
            SELECT 1 FROM profiles 
            WHERE id = auth.uid() 
            AND (role IN ('admin', 'super_admin') OR is_admin = true OR is_owner = true)
        )
    );

    -- 3. RESET AUTOMATION ID POINTER (Just in case frontend is using a ghost ID)
    -- We ensure the 'Customer Support Agent' automation is marked active/visible.
    UPDATE public.client_automations
    SET status = 'active'
    WHERE id = '950a2bd8-489a-4a8f-9b87-4f13b32b4be9';

    RAISE NOTICE 'SUCCESS: Admin God Mode Enabled.';
END \$\$;

