
-- FINAL TRIGGER: ENSURE VISIBILITY FOR NEW LOGS
-- This script creates a 'BEFORE INSERT' trigger that guarantees every new log
-- inherits the correct Owner ID from its Automation.

-- 1. Create the Logic Function
CREATE OR REPLACE FUNCTION public.ensure_log_visibility()
RETURNS TRIGGER AS \$\$
BEGIN
    -- If automation_id is present, copy ownership from parent
    IF NEW.automation_id IS NOT NULL THEN
        SELECT user_id INTO NEW.user_id
        FROM public.client_automations
        WHERE id = NEW.automation_id;
    END IF;
    
    -- Safety Fallback: If no parent found, default to Super Admin to avoid data loss
    IF NEW.user_id IS NULL THEN
        NEW.user_id := '7cfe109c-8e79-42a7-95ce-101a582fc30b'; -- Kdawg
    END IF;

    RETURN NEW;
END;
\$\$ LANGUAGE plpgsql;

-- 2. Attach Trigger to Table
DROP TRIGGER IF EXISTS ensure_log_visibility_trigger ON public.automation_logs;

CREATE TRIGGER ensure_log_visibility_trigger
BEFORE INSERT ON public.automation_logs
FOR EACH ROW
EXECUTE FUNCTION public.ensure_log_visibility();

RAISE NOTICE 'SUCCESS: Future-Proof Trigger Installed.';

